{% extends '::base.html.twig' %}
 
{% block body %}
    <div class="pa">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }} 
    <table class="table table-bordered">
        <tr>
            
            <th>Id</th>
            <th>{{ knp_pagination_sortable(arUsuarios, 'usuario', 'nombre') }}</th> 
            <th>Password</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Fecha Creación</th>
        </tr>
        
            {%for arUsuarios in arUsuarios %}
               <tr>
                <td>{{arUsuarios.codigoUsuarioPk}}</td>
                <td>{{arUsuarios.usuario}}</td>
                <td>{{arUsuarios.password}}</td>
                <td>{{arUsuarios.nombre}}</td>
                <td>{{arUsuarios.email}}</td>
                <td>{{arUsuarios.fechac|date("Y/m/d")}}</td>
                <td><a href="{{ path('helpdesk_usuarios_editar',{'codigoUsuarioPk': arUsuarios.codigoUsuarioPk})}}">Editar</a></td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arUsuarios.codigoUsuarioPk }}" /></td>
            {%endfor%}
            </tr>
            <tr>          
                <td colspan="7" align="right">{{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}</td> 
            </tr>    
        
    </table>
    {{ knp_pagination_render(arUsuarios) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
