{% extends '::base.html.twig' %}
 
{% block body %}
    <div class="pa">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }} 
    <table class="table table-bordered">
        <tr>
            <th>Codigo</th>
            <th>Usuario</th>
            <th>Asunto</th>
            <th>Descripcion</th>
            <th>Fecha Solicitud</th>
        </tr>
        
            {%for arSolicitudes in arSolicitudes %}
               <tr>
                <td><a href="{{ path('helpdesk_solicitudes_solucion',{'codigoSolicitudPk': arSolicitudes.codigoSolicitudPk})}}">{{arSolicitudes.codigoSolicitudPk}}</a></td>
                <td>{{arSolicitudes.usuarioRel.nombre}}</td>
                <td>{{arSolicitudes.solitudTipoRel.solicitudTipo}}</td>
                <td>{{arSolicitudes.descripcion}}</td>
                <td>{{arSolicitudes.fecha|date("Y/m/d")}}</td>
                
                <td><a href="{{ path('helpdesk_solicitudes_editar',{'codigoSolicitudPk': arSolicitudes.codigoSolicitudPk})}}">Editar</a></td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arSolicitudes.codigoSolicitudPk }}" /></td>
            {%endfor%}
            </tr>
            <tr>          
                <td colspan="7" align="right">{{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}</td> 
            </tr>    
        
    </table>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
